<!doctype html>
<html>
<head>
    <title>Blogger</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= post.title %></h2>
      </div>
      <div class="panel-body">
        <%= post.content %><BR/>
        <% if (post.image) { %>
            <img src="<%= image%>" style="height: 200px; width: 200px"/>
        <% } %>
      </div>
    </div>


    <hr>

    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
